<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">My Website</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/about' ? 'active' : '' %>"
            href="/about"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/articles' ? 'active' : '' %>"
            href="/articles"
            >Articles</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/categories' ? 'active' : '' %>"
            href="/categories"
            >Categories</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a
            class="nav-link <%= path === '/articles/add' ? 'active' : '' %>"
            href="/articles/add"
            >Add Article</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
